.proyects-container {
max-width: 900px;
padding-top: 50px;
}

.proyect-item {
  margin-bottom: 30px;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 20px 30px;
  background-color: white;
  text-align: center;
}

.proyect__title {
  text-transform: uppercase;
}

.proyect__details {
  text-align: left;
}

.proyect__image {
  width: 100%;
  border-radius: 8px;
}

.proyect__link {
  text-decoration: none;
  width: fit-content;
  display: block;
  margin: 10px 0;
  color: var(--primary-color);
}